.goods{color: #666;overflow: hidden;}
.goods-top{height: 47px;}
.goods-top p{height: 47px;line-height: 47px;}
.goods-top p a{color: black;margin-right: 10px;}
.goods-top p a:hover{text-decoration: underline;	color: #c00;}
.goods-top p i{margin-right: 10px;}
.deal{padding-bottom: 20px;}
.deal .goods-img{width: 450px;height: 450px;float: left;}
.deal .goods-img img{width: 450px;height: 450px;margin-bottom: 20px;}
.deal .goods-img a{margin: 20px 20px 0px 0;}
.deal .goods-txt{width: 520px;height: 326px;float: left;}
.deal .goods-txt h3{font-size: 24px;line-height: 34px;}
.deal .goods-txt p{font-size: 14px;margin: 10px 0;}
.jiage .price{color: red;font-weight: 600;font-size: 20px;}
.deal .goods-txt .buynow{display: block;width: 220px;height: 50px;text-align: center;color: #fff;line-height: 50px;background:rgb(224,51,54);font-size: 18px;margin-top: 20px;}
.dapei{ margin-left: 20px;margin-top: 50px; overflow: hidden;width: 1250px;}
.dapei .f1{float: left;width: 210px;}

.dapei .f1 ul li{width: 210px;height:240px;text-align: center;border: 1px solid darkgray;}
.dapei .f1 ul li a span{font-size: 12px;color: rgb(112,112,112);float: left;margin-left: 10px;}
.dapei .f1 ul li img{float: left;margin-left: 10px;}
.dapei .f1 ul li .jg{color: red;font-size: 18px;}

.dapei .f2{width: 950px;background: white;margin-left: 50px;padding-bottom: 30px;float: left;}
.dapei div ul .wy{background: black;padding: 15px 0;color: white;}
.dapei .f2 li{list-style:none;float: left;width: 189px;background: grey;margin-left: 1px;padding: 12px 0;margin-bottom: 30px;text-align: center;}
.dapei .f2 li a{color: white;}
.dapei .f2 .fs{background:red;}
.dapei .f2 .las{background:red;}
.dapei .f2 h3{margin-top: 30px;color: rgb(52,52,52);margin-left: 2%;}
.dapei .f2 img{margin-left: 2%;}
.dapei .f2 td{width: 215px;font-size: 12px;margin-left: 2px;background: rgb(242,242,242);padding: 10px 0;color: rgb(64,64,64);}
.dapei .f2 table{margin-left: 35px;margin-top: 30px;}
.tupian {margin-left: 200px; margin-bottom: 50px;}
 #gou img { width: 120px; margin: 10px;}
 #gou li{position:relative;height:200px;}
 #gou .btn-close{position:absolute;top:0;right:0;padding:5px;}
 #gou .btn-close:hover{background-color:#f00;color:#fff;}
  #gou .ying{
    	display: none;
    }
  #gou .ying h3{
  	font-size: 14px;
  	text-align: center;
  }   